{% extends "base.html" %}

{% block content %}
<div class="row pt-30">
    <div class="container">
        <div class="col-md-12">       
            <span class="title-details-news">
                {{ news.title|upper }}
            </span>
            
            {{ news.content|safe }}
            <small style="padding-right: 10px">
                <strong>Status: {{news.status }}</strong>
            </small>
            <div style="padding-right: 10px">
                <span class="label label-warning"><a style="color: #ffff;" href="/news/{{ news.id }}/change">Edit</a></span>
                <span class="label label-warning"><a style="color: #ffff;" href="/">Back</a></span> 
            </div>
        </div>
    </div>
</div>

{% endblock %}