<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="msapplication-TileColor" content="#ffffff" />
<meta name="application-name" content="127.0.0.1:8000" />
<meta property="og:site_name" content="127.0.0.1:8000" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<title>Document Characterization Platform</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link href="/static/css/font-awesome.css" rel="stylesheet" />
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous' />
<link href="/static/css/bootstrap.min.css" rel="stylesheet" />
<link href="/static/css/btn-styling-general-dev-1.4.css" rel="stylesheet" />
<link href="/static/css/btn-styling-mobile-dev-1.4.css" rel="stylesheet" />
<script src="/static/tinymce/tinymce.min.js"></script> <!-- this and next line are not for admin -->
<script src="/static/tinymce/NAME_textareas.js"></script>