<!--menu bar-->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- feup logo-->
            <a href="/"><img class="img-responsive logo-position" src="/static/app-img/LogotipoSI.png" /></a>
        </div>
        <div class="navbar-collapse collapse">
            <!-- login link -->
            {% if user.is_authenticated %}
            <span style="float: right; padding-top: 15px;">
                <a href="/accounts/logout/"><i class="fas fa-user-circle upt-user-cicle" style="color: white;"></i> <br /> <span style="color: white;">log out</span></a>
            </span>
            {% endif %}
        </div>       
    </div>
</div>